<div class="container">
  <button class="open-btn" (click)="fnAbrir()">Abrir Popup</button>
</div>

<div class="cookies-box {{cActive}}">
  <span class="close-btn" (click)="fnFechar()">&times;</span>
  <img src="/assets/image/cookie.png" alt=""/>
  <h3>Cookie and Privacy</h3>
  <p>This website uses cookies to ensure you to get the best experience on our website</p>
  <a href="#" class="accept">Accept all cookies</a>
  <a href="#" class="setting">Customize setting</a>
</div>

<!-- custom js file link  -->
<!-- <script src="/assets/js/script.js"></script> -->
